extends layout

block content

  h1 #{title}: #{item.title}
  
  p #[strong Summary:] #{item.summary}
  p #[strong SKU:] #{item.sku}
  p #[strong Cat:] 
    each val in item.cat
      a(href=val.url) #{val.name}
      |, 

    p Do you really want to delete this Book?
    
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='id', required='true', value=item._id )

      button.btn.btn-primary(type='submit') Delete
